BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false